<div class="container">
        <img src="./assets/dulieu/Tainguyen/images/banner.bng">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Thông tin</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
    
                    <li class="nav-item">
                        <a class="nav-link" href="#">Hỏi đáp</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Cổng thông tin</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Gợi ý</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Liên hệ</a>
                    </li>
    
    
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Tài khoản
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Thông tin cá nhân</a>
                            <a class="dropdown-item" href="#">Cài đặt</a>
                            <a class="dropdown-item" href="#">Đăng ký</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Đăng nhập</a>
                        </div>
                    </li>
                </form>
            </div>
        </nav>
    
    
        <div class="row">
            <div class="container">
                    <col-8>
                    <div>
                            <p>Câu hỏi số: {{danhsach1.Id}}</p>
                            <p>{{danhsach1.Text}}</p>
                            <p>{{danhsach1.Marks}}</p>
                            <p>Mã số: {{danhsach1.Answers}}</p>
                            <p>Hỏi: {{danhsach1.Answers.Id}}, {{danhsach1.Answers.Text}}</p>
                    </div>
                    
                    <br>
                    <div>
                            <p>Câu hỏi số: {{danhsach1.Id}}</p>
                            <p>{{danhsach1.Text}}</p>
                            <p>{{danhsach1.Marks}}</p>
                            <p>Mã số: {{danhsach1.Answers}}</p>
                            <p>Hỏi: {{danhsach1.Answers.Id}}, {{danhsach1.Answers.Text}}</p>
                    </div>
                    
                    <br>
                    <div>
                            <p>Câu hỏi số: {{danhsach1.Id}}</p>
                            <p>{{danhsach1.Text}}</p>
                            <p>{{danhsach1.Marks}}</p>
                            <p>Mã số: {{danhsach1.Answers}}</p>
                            <p>Hỏi: {{danhsach1.Answers.Id}}, {{danhsach1.Answers.Text}}</p>
                    </div>
                    
                    <br>
                    <div>
                            <p>Câu hỏi số: {{danhsach1.Id}}</p>
                            <p>{{danhsach1.Text}}</p>
                            <p>{{danhsach1.Marks}}</p>
                            <p>Mã số: {{danhsach1.Answers}}</p>
                            <p>Hỏi: {{danhsach1.Answers.Id}}, {{danhsach1.Answers.Text}}</p>
                    </div>
                    
                    <br>
                    <div>
                            <p>Câu hỏi số: {{danhsach1.Id}}</p>
                            <p>{{danhsach1.Text}}</p>
                            <p>{{danhsach1.Marks}}</p>
                            <p>Mã số: {{danhsach1.Answers}}</p>
                            <p>Hỏi: {{danhsach1.Answers.Id}}, {{danhsach1.Answers.Text}}</p>
                    </div>
                    
                    <br>
                    <div>
                            <p>Câu hỏi số: {{danhsach1.Id}}</p>
                            <p>{{danhsach1.Text}}</p>
                            <p>{{danhsach1.Marks}}</p>
                            <p>Mã số: {{danhsach1.Answers}}</p>
                            <p>Hỏi: {{danhsach1.Answers.Id}}, {{danhsach1.Answers.Text}}</p>
                    </div>
                    
                    <br>
                    <div>
                            <p>Câu hỏi số: {{danhsach1.Id}}</p>
                            <p>{{danhsach1.Text}}</p>
                            <p>{{danhsach1.Marks}}</p>
                            <p>Mã số: {{danhsach1.Answers}}</p>
                            <p>Hỏi: {{danhsach1.Answers.Id}}, {{danhsach1.Answers.Text}}</p>
                    </div>
                    
                    <br>
                    <div>
                            <p>Câu hỏi số: {{danhsach1.Id}}</p>
                            <p>{{danhsach1.Text}}</p>
                            <p>{{danhsach1.Marks}}</p>
                            <p>Mã số: {{danhsach1.Answers}}</p>
                            <p>Hỏi: {{danhsach1.Answers.Id}}, {{danhsach1.Answers.Text}}</p>
                    </div>
                    
                    <br>
                    <div>
                            <p>Câu hỏi số: {{danhsach1.Id}}</p>
                            <p>{{danhsach1.Text}}</p>
                            <p>{{danhsach1.Marks}}</p>
                            <p>Mã số: {{danhsach1.Answers}}</p>
                            <p>Hỏi: {{danhsach1.Answers.Id}}, {{danhsach1.Answers.Text}}</p>
                    </div>
                    
                    <br>
                    <div>
                            <p>Câu hỏi số: {{danhsach1.Id}}</p>
                            <p>{{danhsach1.Text}}</p>
                            <p>{{danhsach1.Marks}}</p>
                            <p>Mã số: {{danhsach1.Answers}}</p>
                            <p>Hỏi: {{danhsach1.Answers.Id}}, {{danhsach1.Answers.Text}}</p>
                    </div>
                    
                    <br>
                    
    
                </col-8>
            </div>
            
            <col-4>
    
                <div class="accordion" id="accordionExample">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h2 class="mb-0">
                                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                                    aria-expanded="true" aria-controls="collapseOne">
                                    Danh mục
                                </button>
                            </h2>
                        </div>
    
                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">SQL Server</li>
                                    <li class="list-group-item">Điện toán đám mây</li>
                                    <li class="list-group-item">Lập trình PHP</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h2 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                    data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Thông tin môn
                                </button>
                            </h2>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                            <div class="card-body">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">SQL Server</li>
                                    <li class="list-group-item">Điện toán đám mây</li>
                                    <li class="list-group-item">Lập trình PHP</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingThree">
                            <h2 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                    data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Cơ chế
                                </button>
                            </h2>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">SQL Server</li>
                                    <li class="list-group-item">Điện toán đám mây</li>
                                    <li class="list-group-item">Lập trình PHP</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
    
    
    
    
            </col-4>
        </div>
    
    </div>